/* importar fontes */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/* configurações padrões */
:root{
    --textColor: #F5F5F5;
    --mainColor: #1916dd;
    --secondColor: #b4c5ef;
    --acentColor:#f9627d;
    --bgColor: #120309;
}

::selection{
    background-color: transparent;
    color: var(--mainColor);
}
body{
    color: var(--textColor);
    background-color: var(--bgColor);
}
a, a:visited, a:link , a:active{
    color: var(--textColor);
    text-decoration: none;
}

h2{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.6em;
}
h3{
    color: var(--acentColor);
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2em;
}
p{
    font-size: 25px;
    line-height: 1.5em;
}




/* cabecalho */
.cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
    padding: 1rem;
    background-color: transparent;   
    transition: 0.5s;
}
.animado{
    padding: 1.5rem;
    background-color: var(--bgColor);
    box-shadow: 0 5px 20px rgba(68, 68, 68, 0.267);
}

.navbar{
    display: flex;
}

.navbar a{
    position: relative;
    text-decoration: none;
    transition: 0.2s;
    padding: 5px;
}

.navbar a::after{
    content:" ";
    width: 100%;
    height: 4px;
    background-color: var(--mainColor);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 60px;
    transition: transform 0.5s ease-in-out;

    transform-origin: right;
    transform: scaleX(0);
}

.navbar a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar-itens{
    padding: 0.5rem;
}


/* sessões */
.sessao{
    display: flex;
    height: 90vh;
    background-color: var(--bgColor);
    padding: 1rem;
}


/* SESSÃO SOLUÇÃO */
#solucao{
    height: 100vh;
    background-image: url(../img/tartaruga.jpg);
    background-size: cover;
}
.solucao-text{
    margin: 5rem;
    width: 50%;
}




/* SESSAO TECNOLOGIAS */
#tecnologias{
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.tecnologias-text{
    margin: 3rem;
}
.tecnologias-logos{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3;
}
.tecnologias-logos img{
    width: 40%;
}
.tecnologias-logos-itens{
    width: 25%;
    background-color: transparent;
    margin: 2rem;
    transition: 1s;
}
.tecnologias-logos-itens:hover{
    transform: scale(1.2);
}



/* SESSAO OBJETIVOS */
#objetivos{
    padding: 0;
    background-color: var(--textColor);
    color: var(--bgColor);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.objetivos-text{
    margin-top: 2rem;
}


/* CARROSEL */
.carrosel{
    margin: 2rem 0rem 5rem 0rem;
    overflow: hidden;
    height: 80%;
}

.carrosel-content{
    width: 300vw;
    height: 80%;
    display: flex;
    flex-direction: row;
    transition: 1s;
}
.carroselBox{
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    align-items: center;
    text-align: center;
}
.carroselBox article{
    width: 80%;
}



/* SESSÃO PUBLICO ALVO */
#publicoAlvo{
    display: block;
    background-color: var(--acentColor);
    height: auto;
}
.publicoAlvo-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.publicoAlvo-text{
    margin: 5rem;
    text-align: center;
    width: 40%;
}
.publicoAlvo-text p{
    font-size: 35px;
}
#publicoAlvo figure{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#publicoAlvo img{
    width: 60%;
    border: 20px solid var(--textColor);
    border-radius: 20px;
}





/* SESSÃO BENEFICIOS */
#beneficios{
    background-color: var(--textColor);
    color: var(--bgColor);
    
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.beneficios-text{
    margin-top: 2rem;
}
.beneficios-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60%;
    margin: 2rem;
    align-items: center;
}
.beneficios-box{
    width: 350px;
    height: 550px;
    border: 1px solid var(--bgColor);
    border-radius: 20px;

    margin: 1rem;
    padding: 1rem;

    transition: 1s;
}
.beneficios h3{
    font-size: 45px;
}
.beneficios-box:hover{
    transform: scale(1.05);
}




/* SESSÃO NA PRATICA */
#naPratica{
    min-height: 90vh;
    height: auto;
    background-color: var(--secondColor);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.naPratica-text{
    margin-top: 2rem;
}


/* rodape */
.rodape{
    width: 100%;
    height: 5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--textColor);
    background-color: var(--bgColor);
}


